#top-panel{
  background: none;
}

#side-panel{
  background-color: #ddd;
  >div:not(#navigation){
    display: none;
  }
  .task{
    a{
      display: inline-block;
      text-decoration: none;
      width: 10%;
      &+a{
        width: 83%;
        padding: 4px;
        &:hover{
          background-color: #bbb;
        }
      }
      &:hover{
        text-decoration: underline
      }
    }
  }
}

#view-message{
  #description{
    a{
      img{
        padding-right: 4px;
      }
    }
  }
}
