#top-panel {
  background: none; }

#side-panel {
  background-color: #ddd; }
  #side-panel > div:not(#navigation) {
    display: none; }
  #side-panel .task a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 90%; }
    #side-panel .task a:hover {
      text-decoration: underline; }

#view-message #description a img {
  padding-right: 4px; }
