#top-panel {
  background: #aabeca;
  background: -moz-linear-gradient(top, #aabeca 0%, #b0bbc4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aabeca), color-stop(100%, #b0bbc4));
  background: -webkit-linear-gradient(top, #aabeca 0%, #b0bbc4 100%);
  background: -o-linear-gradient(top, #aabeca 0%, #b0bbc4 100%);
  background: -ms-linear-gradient(top, #aabeca 0%, #b0bbc4 100%);
  background: linear-gradient(top, #aabeca 0%, #b0bbc4 100%); }
  #top-panel td a {
    background: url(http://http://isotope11.com/assets/isotope_logo.png) 0 0 no-repeat;
    display: block;
    height: 85px;
    width: 276px; }
    #top-panel td a img {
      display: none; }

#side-panel {
  background-color: #ddd; }
  #side-panel > div:not(#navigation) {
    display: none; }
  #side-panel .task a {
    display: inline-block;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 83%;
      padding: 4px; }
      #side-panel .task a + a:hover {
        background-color: #bbb; }
    #side-panel .task a:hover {
      text-decoration: underline; }

#view-message #description a img {
  padding-right: 4px; }
