body {
  background: #aabeca;
  background: -moz-linear-gradient(top, #aabeca 0%, #f8faf0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aabeca), color-stop(100%, #f8faf0));
  background: -webkit-linear-gradient(top, #aabeca 0%, #f8faf0 100%);
  background: -o-linear-gradient(top, #aabeca 0%, #f8faf0 100%);
  background: -ms-linear-gradient(top, #aabeca 0%, #f8faf0 100%);
  background: linear-gradient(top, #aabeca 0%, #f8faf0 100%); }

h1, h2, h3, h4, h5, h6 {
  color: #4f7b94; }

#top-panel {
  background: none; }
  #top-panel td#login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none;
    height: auto;
    width: auto;
    display: block; }
  #top-panel td > a {
    background: url("http://www.isotope11.com/assets/isotope_logo.png") 0 0 no-repeat;
    display: block;
    height: 85px;
    width: 276px;
    margin: 10px 0 0 10px; }
    #top-panel td > a img {
      display: none; }

#projectstatus {
  background: #fff; }
  #projectstatus tr:nth-of-type(odd) {
    background-color: #f9f9f9; }

#left-top-nav {
  border-left: none; }

#side-panel {
  background-color: #fff; }
  #side-panel > div:not(#navigation) {
    display: none; }
  #side-panel .task a {
    display: inline-block;
    text-decoration: none;
    width: 10%; }
    #side-panel .task a + a {
      width: 83%;
      padding: 4px; }
      #side-panel .task a + a:hover {
        background-color: #bbb; }
    #side-panel .task a:hover {
      text-decoration: underline; }

#main-panel {
  background: #fff; }
  #main-panel > h1 {
    margin-top: 0; }

#main-table {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }

#description div {
  font-size: 1.3em; }

#footer {
  border-top: 1px solid #ccc; }

#view-message #description a img {
  padding-right: 4px; }
