#top-panel{
  background: none;
}

#side-panel{
  background-color: #ddd;
  .task{
    a{
      display: block;
      float: left;
      padding: 4px;
      text-decoration: none;
      &:hover{
        text-decoration: underline
      }
      &+a{
        clear: right;
      }
    }
  }
}
